@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

#primaryBtn {
  padding: 10px 12px;
  border: 1px solid #6d4aff;
  border-radius: 10px;
  color: #6d4aff;
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

#primaryBtn:hover {
  background: #6d4aff;
  color: white;
}

#secondaryBtn {
  padding: 10px 12px;
  background: #6d4aff;
  border: 1px solid #6d4aff;
  border-radius: 10px;
  color: white;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  text-decoration: none;
  display: inline-block;
}

#secondaryBtn:hover {
  background: #6d4aff;
  opacity: 0.9;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 10000;
  /* Sit on top */
  padding-top: 50px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal .modal-content {
  border-radius: 10px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* The Close Button */
}

.modal .modal-content .close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.modal .modal-content .close:hover,
.modal .modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal .modal-content .SendMailTop {
  background: #faf9f6;
  padding: 10px 8px;
  border-radius: 10px;
}

.modal .modal-content form div {
  margin-bottom: 10px;
}

.modal .modal-content form div .input_text {
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
}

.modal .modal-content form div textarea {
  margin: 20px 0;
  width: 100%;
  padding: 10px 2px;
  border-radius: 4px;
}

.modal .modal-content form .w3-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 2px;
}

.modal .modal-content form .w3-section a {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 5px;
  background: red;
  text-decoration: none;
  color: white;
}

.modal .modal-content form .w3-section input {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 5px;
  border: 0px solid transparent;
}

/* Modal Content */
nav {
  width: 100% !important;
  padding: 25px 0;
  background-color: #f7f5ff;
  position: fixed;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
}

nav i {
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
  font-size: 500px;
}

nav .rowDivide {
  width: 80%;
  margin: auto;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .rowDivide .logo img {
  width: 100px;
}

nav .rowDivide .links ul {
  margin-bottom: 0 !important;
}

nav .rowDivide .links ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

nav .rowDivide .links ul li a {
  text-decoration: none;
  color: #6d4aff;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
}

nav .rowDivide .links ul li a:hover {
  color: black;
}

nav .rowDivide .loginSignup a {
  text-decoration: none;
  margin: 0 10px;
}

nav.sticky {
  background: #f7f5ff;
  padding: 15px 0;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.sideNav {
  width: 220px;
  height: 100vh;
  background: #6d4aff;
  position: fixed;
  left: -250px;
  top: 0;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  z-index: 800;
}

.sideNav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}

.sideNav ul li {
  padding: 15px 15px;
  position: relative;
}

.sideNav ul li:hover::before {
  width: 100%;
}

.sideNav ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #382b85;
  width: 0%;
  height: 100%;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  z-index: -1;
}

.sideNav ul li a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 900px) {
  nav {
    width: 100% !important;
    padding: 25px 0;
  }
  nav i {
    visibility: visible;
  }
  nav .rowDivide {
    width: 80%;
    margin: auto;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .rowDivide .logo img {
    width: 70px;
  }
  nav .rowDivide .links {
    display: none;
  }
  nav .rowDivide .loginSignup {
    display: none;
  }
  nav .rowDivide .loginSignup a {
    text-decoration: none;
    margin: 0 10px;
  }
}

.header {
  width: 100%;
  height: auto;
  background: url("../assets/images/hero-2x.webp"), #f7f5ff;
  background-position: top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0 200px;
}

.header .headerWrapper {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.header .headerWrapper p {
  font-size: 20px;
  font-style: italic;
}

.header .headerWrapper h3 {
  font-size: 50px;
  text-align: center;
  margin: 25px 0;
  letter-spacing: 2px;
}

.header .headerWrapper h3 span {
  color: #6d4aff;
}

.header .headerWrapper img {
  width: 70px;
  -webkit-box-shadow: 0 0 5px #6d4aff;
          box-shadow: 0 0 5px #6d4aff;
  border-radius: 15px;
}

@media screen and (max-width: 1200px) {
  .header .headerWrapper {
    width: 65%;
  }
}

@media screen and (max-width: 700px) {
  .header {
    padding: 05px 0;
    height: 100vh;
    padding-bottom: 120px;
  }
  .header .headerWrapper {
    width: 85%;
  }
  .header .headerWrapper p {
    font-size: 18px;
  }
  .header .headerWrapper h3 {
    font-size: 35px;
  }
}

.details {
  width: 100%;
  padding: 100px 0;
  background: #f7f5ff;
}

.details .row {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.details .row .leftSec {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.details .row .leftSec h3 {
  font-size: 45px;
  color: #372580;
  font-weight: 500;
  text-align: left;
}

.details .row .leftSec p {
  font-size: 18px;
  margin: 20px 0;
  color: #382b85;
  font-weight: 400;
}

.details .row .rightSec {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.details .row .rightSec img {
  width: 100%;
}

@media screen and (max-width: 1248px) {
  .details .row .leftSec {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .details .row .rightSec {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 50px;
  }
  .details .row .rightSec img {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .details {
    padding: 70px 0;
    padding-top: 0px;
  }
  .details .row .leftSec h3 {
    font-size: 25px;
  }
  .details .row .leftSec p {
    font-size: 12px;
  }
  .details .row .rightSec img {
    width: 100%;
  }
}

.domain {
  width: 100%;
  padding: 100px 0;
  background: #f7f5ff;
}

.domain .row {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.domain .row .leftSec {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.domain .row .leftSec img {
  width: 100%;
}

.domain .row .rightSec {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 25px;
}

.domain .row .rightSec p {
  font-size: 25px;
}

.domain .row .rightSec p span {
  color: #6d4aff;
  font-weight: bolder;
}

.domain .row .rightSec small {
  font-size: 16px;
}

.domain .row .rightSec a {
  text-decoration: none;
  color: #6d4aff;
  font-weight: bold;
  display: inline-block;
  margin: 10px 0;
}

.domain .row .rightSec a i {
  margin-left: 5px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.domain .row .rightSec a:hover i {
  margin-left: 10px;
}

@media screen and (max-width: 992px) {
  .domain {
    padding: 70px 0;
  }
  .domain .row .leftSec {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 30px 0;
  }
  .domain .row .rightSec {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 0 15px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .domain .row .rightSec p {
    font-size: 25px;
  }
  .domain .row .rightSec small {
    font-size: 15px;
  }
}

.faq {
  width: 100%;
  padding: 100px 0;
  background: #f7f5ff;
}

.faq .row {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.faq .row .leftSec {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 50px;
}

.faq .row .leftSec h2 {
  font-size: 50px;
  font-weight: 600;
}

.faq .row .leftSec .extra {
  background: white;
  padding: 15px;
  margin: 30px 0;
  border-radius: 10px;
}

.faq .row .leftSec .extra h4 {
  font-weight: 400;
}

.faq .row .leftSec .extra p {
  font-size: 18px;
  padding-top: 12px;
}

.faq .row .leftSec .extra a {
  text-decoration: none;
  border: 1px solid gray;
  padding: 10px 15px;
  display: inline-block;
  margin: 15px 0;
}

.faq .row .rightSec {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.faq .row .rightSec .accordion .accordion-item {
  border-radius: 10px;
}

.faq .row .rightSec .accordion .accordion-item .accordion-header {
  border-radius: 10px;
}

.faq .row .rightSec .accordion .accordion-item .accordion-header .accordion-button {
  border-radius: 10px;
  font-size: 20px !important;
  font-style: italic;
}

@media screen and (max-width: 1200px) {
  .faq .row .leftSec h2 {
    font-size: 35px;
  }
  .faq .row .leftSec .extra p {
    font-size: 18px;
    padding-top: 12px;
  }
  .faq .row .rightSec .accordion .accordion-item .accordion-header .accordion-button {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 800px) {
  .faq {
    padding: 70px 0;
  }
  .faq .row .leftSec {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-right: 0;
  }
  .faq .row .leftSec h2 {
    font-size: 35px;
  }
  .faq .row .rightSec {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .faq .row .rightSec .accordion .accordion-item .accordion-header .accordion-button {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 500px) {
  .faq {
    padding: 70px 0;
  }
  .faq .row .leftSec {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-right: 0;
  }
  .faq .row .leftSec h2 {
    font-size: 35px;
  }
  .faq .row .leftSec .extra p {
    font-size: 12px;
  }
  .faq .row .leftSec .extra a {
    font-size: 12px;
  }
  .faq .row .rightSec {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .faq .row .rightSec .accordion .accordion-item .accordion-header .accordion-button {
    font-size: 12px !important;
  }
}

.footer {
  width: 100%;
  background: #000;
  padding: 25px 0;
}

.footer .rowDivide {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .rowDivide .logo a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.footer .rowDivide .links ul {
  margin-bottom: 0 !important;
}

.footer .rowDivide .links ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.footer .rowDivide .links ul li a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.footer .rowDivide .links ul li a:hover {
  color: #6d4aff;
}

@media screen and (max-width: 800px) {
  .footer .rowDivide .logo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .rowDivide .logo a {
    font-size: 12px;
  }
  .footer .rowDivide .links {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
  }
  .footer .rowDivide .links ul {
    padding-left: 0;
  }
}

.contactPage {
  width: 100%;
  height: auto;
  background: #f7f5ff;
  padding-top: 100px;
}

.contactPage h2 {
  text-align: center;
  padding-top: 70px;
  font-weight: bolder;
  font-size: 50px;
}

.contactPage .rowWrapper {
  width: 80%;
  margin: auto;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactPage .rowWrapper form {
  width: 100%;
  padding: 20px 35px;
}

.contactPage .rowWrapper form input {
  width: 100%;
  margin: 8px 0;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  border: 1px solid transparent;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
}

.contactPage .rowWrapper form input:focus {
  -webkit-box-shadow: 0 0 10px #6d4aff;
          box-shadow: 0 0 10px #6d4aff;
}

.contactPage .rowWrapper form input::-webkit-input-placeholder {
  font-size: 12px;
}

.contactPage .rowWrapper form input:-ms-input-placeholder {
  font-size: 12px;
}

.contactPage .rowWrapper form input::-ms-input-placeholder {
  font-size: 12px;
}

.contactPage .rowWrapper form input::placeholder {
  font-size: 12px;
}

.contactPage .rowWrapper form textarea {
  width: 100%;
  margin: 8px 0;
  max-height: 250px;
  min-height: 150px;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  border: 1px solid transparent;
}

.contactPage .rowWrapper form textarea:focus {
  -webkit-box-shadow: 0 0 10px #6d4aff;
          box-shadow: 0 0 10px #6d4aff;
}

.contactPage .rowWrapper form textarea::-webkit-input-placeholder {
  font-size: 12px;
}

.contactPage .rowWrapper form textarea:-ms-input-placeholder {
  font-size: 12px;
}

.contactPage .rowWrapper form textarea::-ms-input-placeholder {
  font-size: 12px;
}

.contactPage .rowWrapper form textarea::placeholder {
  font-size: 12px;
}

.contactPage .rowWrapper form button {
  padding: 10px 25px;
  outline: none;
  border: 1px solid transparent;
}

@media screen and (max-width: 800px) {
  .contactPage {
    width: 100%;
    height: auto;
    background: #f7f5ff;
    padding-top: 100px;
  }
  .contactPage h2 {
    padding-top: 40px;
  }
  .contactPage .rowWrapper {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .contactPage h2 {
    padding-top: 40px;
    font-size: 35px;
  }
  .contactPage .rowWrapper form {
    padding: 10px 15px;
  }
}

.map {
  width: 100%;
  background: #f7f5ff;
}

.map .rowWrapper {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}

.map .rowWrapper iframe {
  width: 100%;
}

.policy {
  width: 100%;
  background: #f7f5ff;
  padding-top: 100px;
}

.policy .rowWrapper {
  width: 80%;
  margin: auto;
  padding: 50px 0;
}

.policy .rowWrapper h1 {
  font-weight: bolder;
}

.policy .rowWrapper h2 {
  font-weight: bolder;
}

.about {
  width: 100%;
  background: #f7f5ff;
  padding: 100px 0;
}

.about .rowWrapper {
  width: 80%;
  margin: auto;
  padding: 100px 0;
}

.about .rowWrapper h3 {
  font-size: 60px;
  margin-bottom: 20px;
}

.about .rowWrapper p {
  font-size: 20px;
}

.active {
  background: #6d4aff;
}

.mailBoxNav {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 800;
}

.mailbox_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f7f5ff;
}

.mailbox_main .sidebar {
  position: relative;
  padding: 0 10px;
  width: 250px;
  background-color: #f7f5ff;
  height: calc(100vh - 60px);
  z-index: 700;
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.mailbox_main .sidebar button {
  display: inline-block;
  width: 80%;
  padding: 10px 12px;
  margin: 25px 0;
  outline: none;
  border: 1px solid transparent;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  border-radius: 30px;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
}

.mailbox_main .sidebar button:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.mailbox_main .sidebar button i {
  color: #6d4aff;
  margin-right: 10px;
}

.mailbox_main .sidebar ul {
  margin-top: 100px;
  list-style: none;
  padding-left: 0;
}

.mailbox_main .sidebar ul li {
  background: white;
  padding: 10px 12px;
  margin-bottom: 5px;
  position: relative;
  z-index: 1;
}

.mailbox_main .sidebar ul li:hover::before {
  width: 100%;
}

.mailbox_main .sidebar ul li:hover a {
  color: white;
}

.mailbox_main .sidebar ul li::before {
  content: "";
  background: #6d4aff;
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.mailbox_main .sidebar ul li a {
  color: black;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.mailbox_main .sidebar ul li a i {
  margin-right: 10px;
}

.mailbox_main .mailArea {
  background: #f7f5ff;
  width: calc(100vw - 250px);
}

.mailbox_main .mailArea .mailContainer {
  margin: 20px 25px;
  height: calc(100vh - 100px);
  overflow: auto;
}

.mailbox_main .mailArea .mailContainer table {
  width: 100%;
  padding: 10px 15px;
}

.mailbox_main .mailArea .mailContainer table tbody tr {
  background: white;
  cursor: pointer;
  font-size: 13px;
}

.mailbox_main .mailArea .mailContainer table.customTable {
  width: 100%;
  border-collapse: collapse;
  color: #000000;
}

.mailbox_main .mailArea .mailContainer table.customTable td,
.mailbox_main .mailArea .mailContainer table.customTable th {
  padding: 12px;
}

.mailbox_main .mailArea .mailContainer table.customTable th {
  -webkit-box-shadow: 0 0 30px black;
          box-shadow: 0 0 30px black;
}

.mailbox_main .mailArea .mailContainer table.customTable thead {
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.mailbox_main .mailArea .mailContainer table.customTable thead tr {
  width: 100%;
}

.mailDetailsWrapper {
  margin: 20px 25px;
  height: calc(100vh - 100px);
  overflow: auto;
  background: white;
  border-radius: 0px;
  background: #f7f5ff;
  -webkit-box-shadow: 1px 2px 10px 3px #c4c4c4;
          box-shadow: 1px 2px 10px 3px #c4c4c4;
  border-radius: 20px;
}

.mailDetailsWrapper .mailDetails {
  width: 100%;
  padding: 10px 15px;
}

.mailDetailsWrapper .mailDetails .mailLinks {
  padding-bottom: 20px;
}

.mailDetailsWrapper .mailDetails .mailLinks ul {
  list-style: none;
  padding-left: 0;
}

.mailDetailsWrapper .mailDetails .mailLinks ul li {
  display: inline-block;
  margin: 0 10px;
}

.mailDetailsWrapper .mailDetails .mailLinks ul li:first-child {
  margin-left: 0;
}

.mailDetailsWrapper .mailDetails .mailLinks ul li:first-child a:hover i {
  background: black;
  color: white;
}

.mailDetailsWrapper .mailDetails .mailLinks ul li:first-child a i {
  background: white;
  padding: 10px 12px;
  border-radius: 50%;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
}

.mailDetailsWrapper .mailDetails .mailLinks ul li a {
  text-decoration: none;
  color: #6d4aff;
}

.mailDetailsWrapper .mailDetails .mailShortDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mailDetailsWrapper .mailDetails .mailShortDetails .shortInfo p {
  margin-bottom: 0.8px;
  display: inline-block;
  width: 100px;
}

.mailDetailsWrapper .mailDetails .mailShortDetails img {
  width: 90px;
  height: 90px;
  margin-right: 20px;
}

.mailDetailsWrapper .messageDetails {
  padding: 50px 0;
}

@media screen and (max-width: 800px) {
  .mailbox_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mailbox_main .mailArea {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 100px;
  }
  .mailbox_main .sidebar {
    left: -250px;
  }
}

.rowHoverEffect:hover .editOption span {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.editOption {
  position: relative;
}

.editOption span {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 100%;
  background-color: #ddcfcf;
  background: -webkit-gradient(linear, right top, left top, color-stop(11%, #b6b5b5), to(white));
  background: linear-gradient(270deg, #b6b5b5 11%, white 100%);
  height: 100%;
  display: none;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
}

.editOption span i {
  float: right;
  margin-right: 25px;
  font-size: 17px;
}

.profile_container {
  padding: 0 50px;
  width: 100%;
}

.profile_container .profile_img_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile_container .profile_img_cont .profile_Pic {
  position: relative;
}

.profile_container .profile_img_cont .profile_Pic label {
  position: absolute;
  bottom: -10px;
  right: -5px;
  background: var(--default-bg-1);
  border-radius: 50%;
  padding: 3px 5px;
}

.profile_container .profile_img_cont .profile_Pic .profile_img {
  width: 91px;
  height: 91px;
  border-radius: 50%;
  z-index: 1;
  border: 2px solid #6d4aff;
  margin-top: 30px;
}

.profile_container .profile_img_cont #profile_image_input_field {
  display: none;
}

.profile_container .personalDetails {
  position: relative;
  padding: 30px;
  margin: 30px 0;
  width: 100%;
  background: #faf9f6;
  border-radius: 10px;
}

.profile_container .personalDetails form input {
  width: 45%;
  margin-bottom: 15px;
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
}

.profile_container .personalDetails form .btn_Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile_container .personalDetails form .btn_Container button {
  padding: 6px 12px;
  background: #6d4aff;
  border: 1px solid #6d4aff;
  border-radius: 10px;
  color: white;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  text-decoration: none;
  display: inline-block;
}

.profile_container .personalDetails form .btn_Container button:hover {
  background: #6d4aff;
  opacity: 0.9;
}

.profile_container .passwordReset {
  position: relative;
  padding: 30px;
  margin: 30px 0;
  width: 100%;
  background: #faf9f6;
  border-radius: 10px;
}

.profile_container .passwordReset h3 {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 15px;
}

.profile_container .passwordReset form label {
  color: white;
}

.profile_container .passwordReset form input {
  width: 100%;
  margin-bottom: 15px;
  padding: 6px 15px;
  border-radius: 10px;
  border: none;
  margin-top: 4px;
}

.profile_container .passwordReset form .btn_Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile_container .passwordReset form .btn_Container button {
  padding: 6px 12px;
  background: #6d4aff;
  border: 1px solid #6d4aff;
  border-radius: 10px;
  color: white;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  text-decoration: none;
  display: inline-block;
}

.profile_container .passwordReset form .btn_Container button:hover {
  background: #6d4aff;
  opacity: 0.9;
}
/*# sourceMappingURL=style.css.map */