* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

#primaryBtn {
  padding: 10px 12px;
  border: 1px solid #6d4aff;
  border-radius: 10px;
  color: #6d4aff;
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

#primaryBtn:hover {
  background: #6d4aff;
  color: white;
}

#secondaryBtn {
  padding: 10px 12px;
  background: #6d4aff;
  border: 1px solid #6d4aff;
  border-radius: 10px;
  color: white;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  text-decoration: none;
  display: inline-block;
}

#secondaryBtn:hover {
  background: #6d4aff;
  opacity: 0.9;
}

nav {
  width: 100% !important;
  padding: 25px 0;
  background-color: #f7f5ff;
  position: fixed;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
}

nav i {
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
  font-size: 500px;
}

nav .rowDivide {
  width: 80%;
  margin: auto;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .rowDivide .logo img {
  width: 100px;
}

nav .rowDivide .links ul {
  margin-bottom: 0 !important;
}

nav .rowDivide .links ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

nav .rowDivide .links ul li a {
  text-decoration: none;
}

nav .rowDivide .loginSignup a {
  text-decoration: none;
  margin: 0 10px;
}

nav.sticky {
  background: #f7f5ff;
  padding: 15px 0;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.sideNav {
  width: 300px;
  height: 100vh;
  background: #6d4aff;
  position: fixed;
  left: -300px;
  top: 0;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.sideNav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}

.sideNav ul li {
  padding: 15px 15px;
  position: relative;
}

.sideNav ul li:hover::before {
  width: 100%;
}

.sideNav ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #382b85;
  width: 0%;
  height: 100%;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  z-index: -1;
}

.sideNav ul li a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 900px) {
  nav {
    width: 100% !important;
    padding: 25px 0;
  }
  nav i {
    visibility: visible;
  }
  nav .rowDivide {
    width: 80%;
    margin: auto;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .rowDivide .logo img {
    width: 70px;
  }
  nav .rowDivide .links {
    display: none;
  }
  nav .rowDivide .loginSignup {
    display: none;
  }
  nav .rowDivide .loginSignup a {
    text-decoration: none;
    margin: 0 10px;
  }
}

.header {
  width: 100%;
  height: auto;
  background: url("images/hero-2x.webp"), #f7f5ff;
  background-position: top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0 200px;
}

.header .headerWrapper {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.header .headerWrapper p {
  font-size: 20px;
  font-style: italic;
}

.header .headerWrapper h3 {
  font-size: 50px;
  text-align: center;
  margin: 25px 0;
  letter-spacing: 2px;
}

.header .headerWrapper h3 span {
  color: #6d4aff;
}

.header .headerWrapper img {
  width: 70px;
  -webkit-box-shadow: 0 0 5px #6d4aff;
          box-shadow: 0 0 5px #6d4aff;
  border-radius: 15px;
}

@media screen and (max-width: 1200px) {
  .header .headerWrapper {
    width: 65%;
  }
}

@media screen and (max-width: 700px) {
  .header {
    padding: 05px 0;
    height: 100vh;
    padding-bottom: 120px;
  }
  .header .headerWrapper {
    width: 85%;
  }
  .header .headerWrapper p {
    font-size: 18px;
  }
  .header .headerWrapper h3 {
    font-size: 35px;
  }
}

.details {
  width: 100%;
  padding: 100px 0;
  background: #f7f5ff;
}

.details .row {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.details .row .leftSec {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.details .row .leftSec h3 {
  font-size: 45px;
  color: #372580;
  font-weight: 500;
  text-align: left;
}

.details .row .leftSec p {
  font-size: 18px;
  margin: 20px 0;
  color: #382b85;
  font-weight: 400;
}

.details .row .rightSec {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.details .row .rightSec img {
  width: 100%;
}

@media screen and (max-width: 1248px) {
  .details .row .leftSec {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .details .row .rightSec {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 50px;
  }
  .details .row .rightSec img {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .details {
    padding: 70px 0;
    padding-top: 0px;
  }
  .details .row .leftSec h3 {
    font-size: 25px;
  }
  .details .row .leftSec p {
    font-size: 12px;
  }
  .details .row .rightSec img {
    width: 100%;
  }
}

.domain {
  width: 100%;
  padding: 100px 0;
  background: #f7f5ff;
}

.domain .row {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.domain .row .leftSec {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.domain .row .leftSec img {
  width: 100%;
}

.domain .row .rightSec {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 25px;
}

.domain .row .rightSec p {
  font-size: 25px;
}

.domain .row .rightSec p span {
  color: #6d4aff;
  font-weight: bolder;
}

.domain .row .rightSec small {
  font-size: 16px;
}

.domain .row .rightSec a {
  text-decoration: none;
  color: #6d4aff;
  font-weight: bold;
  display: inline-block;
  margin: 10px 0;
}

.domain .row .rightSec a i {
  margin-left: 5px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.domain .row .rightSec a:hover i {
  margin-left: 10px;
}

@media screen and (max-width: 992px) {
  .domain {
    padding: 70px 0;
  }
  .domain .row .leftSec {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 30px 0;
  }
  .domain .row .rightSec {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 0 15px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .domain .row .rightSec p {
    font-size: 25px;
  }
  .domain .row .rightSec small {
    font-size: 15px;
  }
}

.faq {
  width: 100%;
  padding: 100px 0;
  background: #f7f5ff;
}

.faq .row {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.faq .row .leftSec {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 50px;
}

.faq .row .leftSec h2 {
  font-size: 50px;
  font-weight: 600;
}

.faq .row .leftSec .extra {
  background: white;
  padding: 15px;
  margin: 30px 0;
  border-radius: 10px;
}

.faq .row .leftSec .extra h4 {
  font-weight: 400;
}

.faq .row .leftSec .extra p {
  font-size: 18px;
  padding-top: 12px;
}

.faq .row .leftSec .extra a {
  text-decoration: none;
  border: 1px solid gray;
  padding: 10px 15px;
  display: inline-block;
  margin: 15px 0;
}

.faq .row .rightSec {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.faq .row .rightSec .accordion .accordion-item {
  border-radius: 10px;
}

.faq .row .rightSec .accordion .accordion-item .accordion-header {
  border-radius: 10px;
}

.faq .row .rightSec .accordion .accordion-item .accordion-header .accordion-button {
  border-radius: 10px;
  font-size: 20px !important;
  font-style: italic;
}

@media screen and (max-width: 1200px) {
  .faq .row .leftSec h2 {
    font-size: 35px;
  }
  .faq .row .leftSec .extra p {
    font-size: 18px;
    padding-top: 12px;
  }
  .faq .row .rightSec .accordion .accordion-item .accordion-header .accordion-button {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 800px) {
  .faq {
    padding: 70px 0;
  }
  .faq .row .leftSec {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-right: 0;
  }
  .faq .row .leftSec h2 {
    font-size: 35px;
  }
  .faq .row .rightSec {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .faq .row .rightSec .accordion .accordion-item .accordion-header .accordion-button {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 500px) {
  .faq {
    padding: 70px 0;
  }
  .faq .row .leftSec {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-right: 0;
  }
  .faq .row .leftSec h2 {
    font-size: 35px;
  }
  .faq .row .leftSec .extra p {
    font-size: 12px;
  }
  .faq .row .leftSec .extra a {
    font-size: 12px;
  }
  .faq .row .rightSec {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .faq .row .rightSec .accordion .accordion-item .accordion-header .accordion-button {
    font-size: 12px !important;
  }
}

.footer {
  width: 100%;
  background: #000;
  padding: 25px 0;
}

.footer .rowDivide {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .rowDivide .logo a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.footer .rowDivide .links ul {
  margin-bottom: 0 !important;
}

.footer .rowDivide .links ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.footer .rowDivide .links ul li a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.footer .rowDivide .links ul li a:hover {
  color: #6d4aff;
}

@media screen and (max-width: 800px) {
  .footer .rowDivide .logo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .rowDivide .logo a {
    font-size: 12px;
  }
  .footer .rowDivide .links {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
  }
  .footer .rowDivide .links ul {
    padding-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */